<div class="container">

<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
 <div class="field">
    <%= form.label :patient %>
    <%= form.text_field :patient, id: :patient_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, id: :date %>
  </div>
  
  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :time %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details, id: :details %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
