<p id="notice"><%= notice %></p>
<div class="container">
  <div class="card">
  <div class="card-body">
     <div class="col-sm">
        <div class="card-header">
<h1>Patients</h1>




<table>
  <thead>
    
    <tr >
      <th> <font color="navy">Name:</th>
      <th> <font color="navy">Contact:</th>
      <th> <font color="navy">Date of birth:</th>
      <th> <font color="navy">Address:</th>
      <th> <font color="navy">Injury:</th>
      <th> <font color="navy">Action:</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.contact %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.address %></td>
        <td><%= patient.injury %></td>
        <td><%= patient.action %></td>
      <td>  <button type="button" class="btn btn-outline-info"><%= link_to 'Show', patient %></button></td>
        <td> <button type="button" class="btn btn-outline-warning"><%= link_to 'Edit', edit_patient_path(patient) %></button></td>
        <td><button type="button" class="btn btn-outline-danger"><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<button type="button" class="btn btn-primary"><%= link_to 'New Patient', new_patient_path %></button>



</div>
</div>
</div>
</div>
</div>