
<div class="card">
  <div class="card-body">
     <div class="col-sm">
        <div class="card-header">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @patient.contact %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Injury:</strong>
  <%= @patient.injury %>
</p>

<p>
  <strong>Action:</strong>
  <%= @patient.action %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
<%= link_to'Show Notes', patient_notes_path(@patient) %>

<p></p>See if patient is allergic</p>
<%= form_tag "/validate" do %>
<%= text_field_tag :search_string %>
<%= submit_tag "Search" %>
<% end %>
</div></div>
</div></div>